<%= link_to 'new Video', new_video_path %> 

<%= @videos.each do |k| %>
    <% if k.video.attached? %>
    <p><%= k.title %></p> <br>
    <p><%= k.introduction %></p>
    <video src="<%= rails_blob_path(k.video) %>" type="video/mp4" controls></video>
    <%= image_tag url_for(k.clip.preview(resize_to_limit: [300, 300]).processed) %> 

    <%= button_to 'destroy', video_path(k), method: :delete %>
    <% end %>
<% end %>
